.footer {
  background: linear-gradient(135deg, #2c6da5, #3498db);
  color: white;
  padding: 2rem 0; /* Aumenta el padding para mejorar la legibilidad */
  font-family: 'Open Sans', sans-serif; /* Establece una fuente clara y legible */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0 2rem; /* Aumenta el padding para mejorar la legibilidad */
}

.text {
  font-size: 1.1rem; /* Aumenta el tamaño de fuente para mejorar la legibilidad */
  margin-bottom: 1.5rem;
  line-height: 1.5; /* Mejora la legibilidad del texto */
}

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 1rem; /* Agrega espacio entre la firma y el texto */
}

.image {
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 100px; /* Establece un ancho fijo para la imagen */
  height: auto;
}

.image:hover {
  transform: scale(1.1); /* Efecto hover para la imagen */
}

/* Responsivo */
@media (max-width: 768px) {
  .text {
    font-size: 1rem;
  }

  .image {
    width: 80px;
    height: auto;
  }
}
